<%- include("partials/header.ejs") %>
        <!-- <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-10 col-lg-8 col-xl-6">

                    <div class="card bg-dark text-white" style="border-radius: 40px;">
                    <div class="bg-image" style="border-radius: 35px;">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp"
                        class="card-img" alt="weather" />
                        <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>
                    </div>
                    <div class="card-img-overlay text-dark p-5">
                        <h4 class="mb-0">Quepem, Goa, India</h4>
                        <p class="display-2 my-3"><%= tempCelsius %> 째C</p>
                        <p class="mb-2">Feels Like: <strong><%= feelsLikeCelsius %> 째C</strong></p>
                        <h5><%= weatherDescription %></h5>
                    </div>
                    </div>

                </div>
            </div>
        </div> -->
    <section class="vh-100">
        <div class="container py-5">
            <div class="row d-flex">
                <div class="col">
                    <h1 class="mb-3" style="font-size: 20vh;"><%= tempCelsius %><span style="font-size: 5vh;">째C</span></h1>
                    <h4 class="mb-3">Feels Like: 
                        <strong><%= feelsLikeCelsius %> 째C</strong>
                        <img src="https://openweathermap.org/img/wn/<%=icon%>.png" alt="">
                    </h4>
                    <h3 class="mb-3"><%= weatherDescription %></h3>
                </div> 
                <div class="col">
                    <h5 class="my-3">Weather Summary</h5>
                    <p>
                        <%= locals.overviewResults  %>
                    </p>
                </div> 
            </div>
            
        </div>
    </section>  
    
    
<%- include("partials/footer.ejs") %>