<%- include("partials/header.ejs") %>

    <div>
        <h2></h2>
    </div>


    <section class="vh-100">
        <div class="container py-2">
            <div class="row d-flex">
                <div class="col">
                    <h4 class="mt-3">Quepem, Goa, India</h4>
                    <h1 class="mb-3" style="font-size: 18vh;"><%= tempCelsius %><span style="font-size: 5vh;">°C</span></h1>
                    <h4>Feels Like: 
                        <strong><%= feelsLikeCelsius %> °C</strong>
                    </h4>
                    <h3 class="mb-3">
                        <%= weatherDescription %>
                        <img src="https://openweathermap.org/img/wn/<%=icon%>.png" alt="weather-icon">
                    </h3>
                </div>
                <div class="col">
                    <h5 class="my-3">Weather Summary</h5>
                    <p>
                        <%= locals.overviewResults  %>
                    </p>
                </div>
                
            </div>
            <div class="row d-flex">
                <div class="col">
                    <ul>
                        <% for (let index = 0; index < forecast.length - 5; index++) { %>
                        <% const element = forecast[index]; %>
                            <li>Day: <strong><%= (element.temp.day - 273.15).toFixed(2) %></strong> <img src="https://openweathermap.org/img/wn/<%=element.weather[0].icon%>.png" alt="weather-icon"></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            
        </div>
    </section> 
    
    
<%- include("partials/footer.ejs") %>